Build/CMakeFiles/*
Build/Makefile
Build/CMakeCache.txt
Build/bin/Urho3D.log
Build/*.cmake
*.bin
*.exe
Build/*.dll.a
Build/*.cbp
Build/*.layout
*.blend1
*.kdev4
*.swp
*.swo
Clean/
bin/CoreData/Shaders/HLSL/Cache/
bin/Data/Shaders/HLSL/Cache/
